#contenue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 200px;
  width: 62%;
  z-index: 2;
}

.title__acc {
  color: var(--pri-color);
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  letter-spacing: 10px;
  padding: 0;
  margin: 0;
}

.presentation__acc {
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 5px;
}

.button {
  font-size: 20px;
  font-weight: 500;
}

@media only screen 
   and (max-width : 1490px) {
    #contenue {
      margin-bottom: 0;
      width: 50%;
    }
    
    .title__acc {
      font-size: 70px;
    }
}